//Definido uma váriavel que será a fonte de todo o site
$fontePrincipal: Roboto, sans-serif;
//Seção de váriveis de cores que serão utilizados no site
$corDeFundo: #f4f6fa;
$corPrincipal: #182c61;
$corTexto: #fff;
$corDoBotao: #44bd32;